.home-container[b-90gu9pol9e] {
    padding-top: 20px; 
}

.home-container h1[b-90gu9pol9e]{
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
}

.home-container p[b-90gu9pol9e] {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
}